@media (max-width: 576px) {
    :root {
        --fs_xsm: 12px;
        --fs_sm: 13px;
        --fs_base: 14px;
        --fs_md: 15px;
        --fs_lg: 16px;
        --fs_xl: 20px;
        --fs_2xl: 33px;
        --fs_3xl: 41px;
        --fs_4xl: 68px;
    }
}

@media (min-width: 576px) {
    :root {
        --fs_xsm: 12px;
        --fs_sm: 13px;
        --fs_base: 14px;
        --fs_md: 15px;
        --fs_lg: 16px;
        --fs_xl: 20px;
        --fs_2xl: 33px;
        --fs_3xl: 41px;
        --fs_4xl: 68px;
    }
}

@media (min-width: 768px) {
    :root {
        --fs_xsm: 12px;
        --fs_sm: 13px;
        --fs_base: 14px;
        --fs_md: 15px;
        --fs_lg: 16px;
        --fs_xl: 20px;
        --fs_2xl: 33px;
        --fs_3xl: 41px;
        --fs_4xl: 68px;
    }
}

@media (min-width: 992px) {
    :root {
        --fs_xsm: 12px;
        --fs_sm: 13px;
        --fs_base: 14px;
        --fs_md: 15px;
        --fs_lg: 16px;
        --fs_xl: 20px;
        --fs_2xl: 33px;
        --fs_3xl: 41px;
        --fs_4xl: 68px;
    }
}

@media (min-width: 1200px) {
    :root {
        --fs_xsm: 12px;
        --fs_sm: 13px;
        --fs_base: 14px;
        --fs_md: 15px;
        --fs_lg: 16px;
        --fs_xl: 20px;
        --fs_2xl: 33px;
        --fs_3xl: 41px;
        --fs_4xl: 68px;
    }
}

@media (min-width: 1400px) {
    :root {
        --fs_xsm: 12px;
        --fs_sm: 13px;
        --fs_base: 14px;
        --fs_md: 15px;
        --fs_lg: 16px;
        --fs_xl: 20px;
        --fs_2xl: 33px;
        --fs_3xl: 41px;
        --fs_4xl: 68px;
    }
}