@media (max-width: 768px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_lgg: 18px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }

  .custom_container {
    width: 90%;
    padding: 20px;
  }

  .hamburger {
    display: block;
  }
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .btn_download {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
  .d_lg_none {
    display: none;
  }
  .d_lg_block {
    display: block;
  }
  .d_lg_flex {
    display: flex;
  }
}
