@media (max-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 12px;
    --fs_base: 10px;
    --fs_md: 15px;
    --fs_lg: 12px;
    --fs_lgg: 18px;
    --fs_xl: 15px;
    --fs_2xl: 40px;
  }
  .line_xsm_hor {
    border: 0.5px solid rgba(0, 0, 0, 0.336);
    width: 100%;
  }
  .search-input {
    padding: 0px;
  }
  .passenger-control {
    width: 100%;
    margin-top: 16px;
  }

  .search-button {
    padding: 15px;
    margin-top: 16px;
    width: 100%;
    margin-left: 0px;
    font-weight: normal;
  }
  .search-bar {
    display: block;
    align-items: center;
    padding-top: 20px;
  }
  .p_xsm_25 {
    padding: 25px;
  }
  .m_xsm_0 {
    margin: 0;
  }
  .ls_08 {
    letter-spacing: 5px;
  }
  .image_container .text_overlay h1 {
    font-size: 24px;
  }
  .h_50 {
    height: 40px;
  }
  .h_67 {
    height: 56px;
  }
  .me_xsm_4 {
    margin-right: 24px;
  }
  .image_container .text_overlay a {
    padding: 10px;
  }
  .image_container .overlay_home {
    height: 100%;
    top: 0;
  }
  .search-form {
    flex-direction: column;
    padding: 15px;
    align-items: start;
  }
  .pe_xsm_0 {
    padding-right: 0px;
  }
  .p_xsm_0 {
    padding: 0;
  }
  .ps_xsm_0 {
    padding-left: 12px;
  }
  .mb_41 {
    margin-bottom: 20px;
  }
  .lh_25 {
    line-height: 20px;
  }
  .btn_bookflight {
    padding: 10px;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .btn_download {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (min-width: 576px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 12px;
    --fs_md: 15px;
    --fs_lg: 14px;
    --fs_lgg: 18px;
    --fs_xl: 28px;
    --fs_2xl: 35px;
  }
  .d_sm_block {
    display: block !important;
  }
  .d_sm_none {
    display: none !important;
  }
  .line_xsm_hor {
    border: 0.5px solid rgba(0, 0, 0, 0.336);
    width: 100%;
  }
  .search-input {
    padding: 0px;
  }
  .passenger-control {
    width: 100%;
    margin-top: 16px;
  }
  .search-form {
    flex-direction: column;
    padding: 15px;
    align-items: start;
  }
  .pe_xsm_0 {
    padding-right: 0px;
  }
  .p_sm_25 {
    padding: 25px;
  }

  .search-button {
    padding: 15px;
    margin-top: 16px;
    width: 100%;
    margin-left: 0px;
    font-weight: normal;
  }
  .search-bar {
    align-items: center;
    padding-top: 20px;
  }
  .ls_08 {
    letter-spacing: 6px;
  }
  .image_container .text_overlay a {
    padding: 10px;
    margin: 0;
  }
  .image_container .overlay_home {
    top: 0;
    height: 100%;
  }
  .lh_20 {
    line-height: 32px;
  }
  .col_sm_11 {
    width: 91.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .p_sm_4 {
    padding: 24px;
  }
}

@media (min-width: 768px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 12px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 12px;
    --fs_lgg: 18px;
    --fs_xl: 18px;
    --fs_2xl: 68px;
  }
  .image_container .overlay_home {
    height: 100%;
    top: 0;
  }
  .lh_25 {
    line-height: 20px;
  }
  .h_md_100 {
    height: 100%;
  }
  .ms_md_4 {
    margin-left: 24px;
  }
  .passenger-control {
    margin-top: 16px;
    align-items: start;
  }
  .col_md_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .d_md_block {
    display: block !important;
  }
  .mb_41 {
    margin-bottom: 15px;
  }
  .btn_bookflight {
    padding: 12px;
  }
  .flex_row_md_rev {
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_lgg: 18px;
    --fs_xl: 33px;
    --fs_2xl: 42px;
  }
  .ls_08 {
    letter-spacing: 5px;
  }
  .image_container .overlay_home {
    height: 100%;
    top: 0;
  }
  .image_container .text_overlay a {
    padding: 15px 20px;
    margin-top: 10px;
  }

  .col_lg_2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .mt_lg_0 {
    margin-top: 0px;
  }
  .d_lg_none {
    display: none !important;
  }
  .d_lg_block {
    display: block !important;
  }
  .search-form {
    padding: 5px;
    width: 100%;
  }
  .d_lg_flex {
    display: flex;
  }
  .flex_lg_row {
    flex-direction: row;
  }
  .search-input input {
    width: 60px;
  }
  .line_xsm_hor {
    height: 50px;
    width: 1px;
    align-items: center;
  }
  .search-button {
    padding: 15px 20px;
    width: 100px;
    margin: 0;
    margin-bottom: 10px;
  }
  .p_lg_67 {
    padding: 67px;
  }
  .search-input {
    padding: 16px;
  }
  .flex_lg_row {
    flex-direction: row;
  }
  .col_lg_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .ps_lg_4 {
    padding-left: 24px;
  }
}

@media (min-width: 1100px) {
  .search-input input {
    width: 95px !important;
  }
}
@media (min-width: 1200px) {
  .search-input input {
    width: 120px !important;
  }
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_lgg: 18px;
    --fs_xl: 33px;
    --fs_2xl: 53px;
  }
  .image_container .overlay_home {
    height: 100%;
    top: 0;
  }
  .col_xl_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .mb_41 {
    margin-bottom: 41px;
  }
  .btn_bookflight {
    padding: 15px;
  }


}

@media (min-width: 1400px) {
  .search-input input {
    width: 150px !important;
  }
}
@media (min-width: 1500px) {
  :root {
    --fs_xsm: 12px;
    --fs_sm: 13px;
    --fs_base: 14px;
    --fs_md: 15px;
    --fs_lg: 16px;
    --fs_lgg: 18px;
    --fs_xl: 33px;
    --fs_2xl: 68px;
  }
  .search-form {
    width: 88%;
  }
}
